In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from matplotlib import style
import datetime as dt1
from datetime import datetime as dt
import warnings

In [2]:
df = pd.read_csv("CSV (1).csv")
df

,close,high,low,open,symbol,volume,id,key,subkey,date,...,uLow,uVolume,fOpen,fClose,fHigh,fLow,fVolume,label,change,changePercent
0,129.41,133.6116,126.760,133.52,AAPL,143301887,HISTORICAL_PRICES,AAPL,NaN,2021-01-04,...,126.760,143301887,132.8956,128.8048,132.9868,126.1672,143301887,"Jan 4, 21",0.00,0.0000
1,131.01,131.7400,128.430,128.89,AAPL,97664898,HISTORICAL_PRICES,AAPL,NaN,2021-01-05,...,128.430,97664898,128.2872,130.3973,131.1239,127.8294,97664898,"Jan 5, 21",1.60,0.0124
2,126.60,131.0499,126.382,127.72,AAPL,155087970,HISTORICAL_PRICES,AAPL,NaN,2021-01-06,...,126.382,155087970,127.1227,126.0080,130.4370,125.7910,155087970,"Jan 6, 21",-4.41,-0.0337
3,130.92,131.6300,127.860,128.36,AAPL,109578157,HISTORICAL_PRICES,AAPL,NaN,2021-01-07,...,127.860,109578157,127.7597,130.3078,131.0144,127.2621,109578157,"Jan 7, 21",4.32,0.0341
4,132.05,132.6300,130.230,132.43,AAPL,105158245,HISTORICAL_PRICES,AAPL,NaN,2021-01-08,...,130.230,105158245,131.8107,131.4325,132.0098,129.6210,105158245,"Jan 8, 21",1.13,0.0086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16619,70.86,72.5450,70.400,70.50,SNAP,8874468,HISTORICAL_PRICES,SNAP,NaN,2021-08-19,...,70.400,8874468,70.5000,70.8600,72.5450,70.4000,8874468,"Aug 19, 21",-1.10,-0.0153
16620,72.72,72.9699,70.800,71.20,SNAP,8615044,HISTORICAL_PRICES,SNAP,NaN,2021-08-20,...,70.800,8615044,71.2000,72.7200,72.9699,70.8000,8615044,"Aug 20, 21",1.86,0.0262
16621,75.50,75.9300,73.670,74.01,SNAP,11055928,HISTORICAL_PRICES,SNAP,NaN,2021-08-23,...,73.670,11055928,74.0100,75.5000,75.9300,73.6700,11055928,"Aug 23, 21",2.78,0.0382
16622,74.63,76.3700,73.720,75.82,SNAP,9663823,HISTORICAL_PRICES,SNAP,NaN,2021-08-24,...,73.720,9663823,75.8200,74.6300,76.3700,73.7200,9663823,"Aug 24, 21",-0.87,-0.0115
16623,74.69,74.9760,73.490,74.31,SNAP,7901376,HISTORICAL_PRICES,SNAP,NaN,2021-08-25,...,73.490,7901376,74.3100,74.6900,74.9760,73.4900,7901376,"Aug 25, 21",0.06,0.0008

In [3]:
df.symbol.unique()

array(['AAPL', 'MSFT', 'GOOG', 'GOOGL', 'ADSK', 'AMZN', 'FB', 'TSLA',
       'TSM', 'NVDA', 'V', 'JPM', 'JNJ', 'BABA', 'WMT', 'UNH', 'BAC',
       'MA', 'PG', 'HD', 'ASML', 'PYPL', 'DIS', 'ADBE', 'CMCSA', 'BBL',
       'BHP', 'BMY', 'C', 'CHTR', 'CVX', 'HDB', 'HON', 'INTU', 'LIN',
       'MCD', 'MDT', 'MRNA', 'MS', 'NEE', 'PM', 'QCOM', 'RY', 'SAP', 'SE',
       'SHOP', 'TMUS', 'TXN', 'UPS', 'NKE', 'PFE', 'CRM', 'LLY', 'CSCO',
       'ORCL', 'NFLX', 'TM', 'KO', 'NVO', 'XOM', 'DHR', 'VZ', 'ABT',
       'INTC', 'TMO', 'PEP', 'ABBV', 'ACN', 'NVS', 'WFC', 'COST', 'AVGO',
       'T', 'MRK', 'UL', 'UNP', 'LOW', 'BLK', 'SCHW', 'GS', 'SBUX', 'AXP',
       'AMD', 'SONY', 'SNY', 'BA', 'RTX', 'AMT', 'AMGN', 'IBM', 'ISRG',
       'TD', 'NOW', 'SQ', 'TGT', 'PDD', 'RIO', 'EL', 'AMAT', 'BUD', 'JD',
       'SNAP'], dtype=object)

In [4]:
df = df[['close','open','high','low','date','symbol','volume']]
df

        close    open      high      low        date symbol     volume
0      129.41  133.52  133.6116  126.760  2021-01-04   AAPL  143301887
1      131.01  128.89  131.7400  128.430  2021-01-05   AAPL   97664898
2      126.60  127.72  131.0499  126.382  2021-01-06   AAPL  155087970
3      130.92  128.36  131.6300  127.860  2021-01-07   AAPL  109578157
4      132.05  132.43  132.6300  130.230  2021-01-08   AAPL  105158245
...       ...     ...       ...      ...         ...    ...        ...
16619   70.86   70.50   72.5450   70.400  2021-08-19   SNAP    8874468
16620   72.72   71.20   72.9699   70.800  2021-08-20   SNAP    8615044
16621   75.50   74.01   75.9300   73.670  2021-08-23   SNAP   11055928
16622   74.63   75.82   76.3700   73.720  2021-08-24   SNAP    9663823
16623   74.69   74.31   74.9760   73.490  2021-08-25   SNAP    7901376

[16624 rows x 7 columns]

In [5]:
df.isnull().sum()

close     0
open      0
high      0
low       0
date      0
symbol    0
volume    0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

features = ['close','open','high','low','symbol']
X = pd.get_dummies(df[features])
#X_test = pd.get_dummies(df[features])
y = df.volume
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2)

In [9]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8001436340801741

In [10]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.6774015875476971